<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chioma Vera  | Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<!-- NAVBAR -->
<nav>
    <div class="logo">CV<span> . </span></div>
    <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#skill">Skills</a></li>
        <li><a href="#project">Project</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</nav>
<!-- HERO -->
<section class="hero">
  <div class="hero-text">
    <h1>Hi, I'm <span>Chioma Vera</span></h1>
    <p>A passionate web developer</p>
    <a href="#projects">View my work</a>
  </div>
  <div class="hero-image">
    <img src="{{ url_for('static', filename='myphoto.jpg') }}"
         alt="Chioma Vera"/>
  </div>
</section>

<!-- ABOUT -->
<section id="about">
    <h2>About Me</h2>
    <p>I'm a passionate web developer with a
    love for clean and bold design.I enjoy the
    challenge of making complex idea simple and turning sketches into
    fully functional,responsive website.</p>
</section>

<!-- SKILLS -->
<section id="skills">
  <h2>Skills</h2>
  <div class="skills-grid">
    <div class="skill-card">🐍 Python</div>
    <div class="skill-card">⚗️ Flask</div>
    <div class="skill-card">🌐 HTML & CSS</div>
  </div>
</section>

<!-- PROJECTS -->
<section id="projects">
  <h2>Projects</h2>
  <div class="project-card">
    <h3>Landing Website</h3>
    <p>A responsive landing page built with HTML and CSS.</p>
    <a href="#">View Project →</a>
  </div>
</section>

<!-- CONTACTS -->
<div class="contact-info">
  <div class="contact-item">
    <span class="contact-icon">📧</span>
    <h4>E-mail</h4>
    <a href="mailto:chiomavera007@gmail.com">chiomavera007@gmail.com</a>
  </div>
  <div class="contact-item">
    <span class="contact-icon">📱</span>
    <h4>WhatsApp number</h4>
    <a href="https://wa.me/2347080374687" target="_blank">+234 7080374687</a>
  </div>
  <div class="contact-item">
    <span class="contact-icon">🔗</span>
    <h4>Social media</h4>
    <div class="social-icons">
      <a href="#">in</a>
      <a href="#">ig</a>
    </div>
  </div>
</div>



<!-- FOOTER -->
<footer>
  <p>© 2026 Ikechukwu Chioma Vera. All rights reserved.</p>
</footer>



<body>

</body>
</html>
